*body {
  font-family: 'Space Mono', monospace;
}

.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;

}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.heading {
  color: hsl(186, 14%, 43%);
}

.heading>h1 {
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.8em;
}

.card {
  /* width: 40%; */
  display: flex;
  padding: 1.5em;
  background-color: hsl(189, 41%, 97%);
  border-radius: 1em;
  gap: 1em;
}

.left {
  /* flex: 1; */
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: hsl(184, 40%, 87%);
}

.input-sample {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-sample>input {
  text-align: right;
  background-color: hsl(185, 41%, 84%);
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  font-size: 0.8em;
  font-weight: 800;
}
.input-sample>input:active{
  background-color: 5px solid gray;
}

.input-sample>input:invalid{
  background-color: 1px solid red;
}

.tip {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

#sub-title {
  color: hsl(186, 14%, 43%);
  font-size: 0.8em;
}

.tip>ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  gap: 0.8em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.tip>ul>li {
  background-color: hsl(183, 100%, 15%);
  width: 70px;
  padding: 6px 9px 6px 9px;
  border-radius: 4px;
  font-size: 1em;
  color: white;
  text-align: center;
  cursor: pointer;
}
.tip>ul>li:hover{
  background-color: hsl(184, 14%, 56%);
}
.handling>p {
  display: none;
}
.input_tip{
  /* text-align: right; */
  width: 70px;
  background-color: hsl(185, 41%, 84%);
  color: hsl(185, 15%, 55%);
  padding: 0.8em;
  border-radius: 5px;
  border: none;
  /* width: 100%; */
  font-size: 0.8em;
  font-weight: 800;
}

.error {
  color: red;
  display: flex;
  justify-content: space-between;
  border-color: red;
}

.error>p {
  font-size: 0.7em;
}

.right {
  /* flex: 1; */
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  padding: 1em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.tip_amount {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em 0 1em;
  gap: 2em;
}

.list-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.list-left>span {
  font-size: 0.8em;
  color: hsl(0, 0%, 100%);
  font: 300;
  /* font-weight: 200; */
}

.list-left>p {
  font-size: 0.6em;
  color: hsl(184, 14%, 56%)
}

.list-right {
  font-size: x-large;
  color: rgb(40, 191, 171);
}

.right>button {
  width: 100%;
  padding: 0.8em;
  background-color: hwb(183 1% 51% / 0.995);
  color: rgb(40, 191, 171);
  ;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.radio-buttons{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.radio-buttons>div>label{
  padding: 1em;
}
[name="tip"]{
  opacity: 0;
}
.radio-buttons>div>input{
  
}

@media screen and (max-width: 700px) {
  .App {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: scroll;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
  }
}