#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #070625;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.shootingstars {
  display: block;
  position: fixed;
  width: 150vh;
  height: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -1;
  -webkit-transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
  transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
}

.wish {
  height: 2px;
  top: 300px;
  width: 100px;
  margin: 0;
  opacity: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
  -webkit-filter: drop-shadow(0 0 6px white);
  filter: drop-shadow(0 0 6px white);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;
  align-items: center;
}

.header>p {
  font-size: 2em;
  font-weight: 800;
  margin: 0;
  cursor: pointer;
}

.planets {
  display: flex;
  list-style: none;
  gap: 2.4em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.planets>li {
  font-size: 0.8em;
}

/* planet css */
.planet {
  background-image: url("../public/assets/background-stars.svg");
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* align-items: flex-start; */
  /* gap: 4em;
  /*  */
  padding: 6.25em 0em;

  position: relative;
}

.planetinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  margin-left: auto;
  margin-right: auto; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* gap: 20em; */
  /* flex-direction: column; */
  height: 100%
}

.planetImage {
  /* height: 32.5em; */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  /* flex: 1; */
}

.planetImage>img {
  display: flex;
  /* height: 24.2em; */
  justify-self: center; 
  align-self: center;
  position: absolute;
  top: 5em;
  left: 10em;
  /* right: 2em; */
  /* padding-right: 2em; */
}

.planetImageGeology {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

}

.image-super {
  width: 10em;
  position: absolute;
  bottom: -2.6em;
  /* left: 4em; */
  /* align-self: flex-end; */
}

.planet-right {
  position: relative;
}

.planetDescription {
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: absolute;
  top: 2em;
  right: 3em;
  /* margin-left: auto; */

}

.planetDescription>h1 {
  font-size: 4em;
  text-transform: uppercase;
  /* line-height: 1em; */
}

.planetDescription>p {
  /* display: block; */
  width: 26.5em;
  line-height: 2em;
  line-break: auto;
  white-space: pre-line;
}

.structureView {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.LI {
  display: flex;
  gap: 1em;
  padding: 1em;
  border: 1px solid white;
  width: 18em;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}