#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* padding: 2rem; */
}
*a{
  list-style: none;
  color: white;
}
*a::before{
  color: white;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}