#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0rem;
}

hr {
  display: block;
  unicode-bidi: isolate-override;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: auto;
  margin-inline-end: auto;

}

img {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.App {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* overflow-x: hidden  ; */
    /* display:flex;
  flex-direction: column;
  align-content: center; */
    /* margin: 2rem; */
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  align-content: center;
  justify-content: center;
  overflow-x:hidden;
  /* position: relative; */
  /* margin: 0 5em 0 5em; */
  /* padding: 2rem 5rem 0 5rem; */
  padding-top: 2rem;
  /* width: 70%; */
}

.header {
  /* height: 100%; */
  display: flex;
  width: 71%;
  gap: 2em;
  align-items: center;
  justify-content: space-between;

  /* padding: 1em;  */
}

.logo {
  display: flex;
  gap: 4em;
  align-self: center;

}

.menu {
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center ;
  justify-content: space-between;
}

.menuItem {
  list-style: none;
  display: flex;
  gap: 1em;
}

.profile {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.profile-button {
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  border: none;
  border-radius: 1em;
}


.body-extended {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hero {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 71%;
  margin-bottom: 5rem;
  /* overflow:hidden */
  /* gap: 3em; */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 0 2rem 0;
  gap: 2rem;
  margin-bottom: 6em;
  flex: 1;
}

.left-h1 {
  /* width: 9em; */
  font-size: 4em;
}

.left>button {
  padding: 1em 1em 1em 1em;
  font-size: 1em;
  width: 12em;
  border-radius: 2em;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
}

.hero-p {
  width: 25em;
  line-height: 2em;
}

.right {
  flex: 1;
  position: relative;
  z-index: 0;
  /* background-image: url("../public/images/illustration-working.svg");
  background-repeat: no-repeat; */
}

.right>img {
  /* width: 30em;
  height: 20em; */
  /* right: -20em; */
  position: absolute;
  bottom: -16em;
  /* left: 10em; */
  z-index: 2;
}

/* 
****************************
searchbar
******************** */
.searchbar {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  /* margin-top: 3em; */
  background-color: hsl(257, 27%, 26%);
  padding: 2em;
  border: none;
  border-radius: 5px;
  background-image: url("../public/images/bg-shorten-desktop.svg");
  width: 69%;
  position: absolute;
  top: 36.5em;
  /* left: 13.5em; */
  z-index: 1;
}

.searchbar>div{

  /* width: 63em; */
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}
.input {
  width: 95%;
  padding: 1.3em;
  border-radius: 7px;
  font-size: 0.7em;
  border: none;
  /* min-width: 75em; */
}
.input::placeholder{
  letter-spacing: 3px;

}
.error-input{
  color: red;
  width: 90%;
  padding: 1.3em;
  border-radius: 7px;
  font-size: 0.7em;
  border-color: red;
} 
.error-input::placeholder{
  color: red;
  letter-spacing: 3px;
}
.span-error{
  color: red;
  font-size: 0.7em;
}

.searchbar>div>button {
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  width: 10em;
  padding: 0em 1.4em 0em 1.4em;
  border-radius: 10px;
  cursor: pointer;
}

/* ****************************
*********** */
/* statistics */
.statistic {
  background-color: hsl(225deg 33.33% 95.29%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0em 7em 0em;
  gap: 2em;

  /* justify-content: center; */
}
.result-cards{
  width:70%;
  padding: 1em;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* gap: 10em; */
}
.result-cards>span{
  display: flex;
  gap: 1.5em;
  color: hsl(180, 66%, 49%);
}
.result-cards>span>button{
  width: 7em;
  border-radius: 3px;
  border: none;
  padding: 4px 1em 4px 1em;
  background-color: hsl(180, 66%, 49%);
  color: white;
}
.title-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.title-stat>h3 {
  color: hsl(257, 27%, 26%);
  font-size: 2em;

}

.title-stat>p {
  text-align: center;
}

.stat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 2em;
  position: relative;
  z-index: 1;
  margin-top: 2em;
}

.card:nth-child(2) {
  top: 2em;
}

.card:nth-child(3) {
  top: 4em;
}

.line-hr {
  position: absolute;
  width: 40em;
  border: 4px solid cyan;
  z-index: 0;
  top: 10em;
  left: 12em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  /* width: 19em; */
  width: 22%;
  background-color: white;
  padding: 1em;
  border-radius: 7px;
  position: relative;
  z-index: 1;
  /* flex: 1; */
}

.card>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(257, 27%, 26%);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  padding: 5px;
  border: none;
  position: absolute;
  top: -2em;
}

.card>div>img {
  padding: 5px;
  width: 2.2em;
  height: 2.2em;
  align-items: center;
  display: flex;
  align-items: center;
}

.card>span {
  font-size: 1.5rem;
  margin-top: 2.4em;
}

.card>p {
  color: hsl(0, 0%, 75%);
  ;
}

/* banner */
.baner {
  background-color: hsl(257, 27%, 26%);
  background-image: url("../public/images/bg-boost-desktop.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  gap: 1em;
  /* justify-content: space-evenly; */
}

.baner>p {
  font-size: 2em;
  color: white;
}

.baner>button {
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 1em 3em 1em 3em;
  border-radius: 2em;
  border: none;
}

.footer {
  /* height: 100%; */
  /* width: 80%; */
  display: flex;
  background-color: hsl(260, 8%, 14%);
  color: white;
  justify-content: space-around;
  padding: 2em 6em 2em 6em;
  /* margin-top: 2em; */
  /* flex-direction:; */
}

.footer>img {
  cursor: pointer;
  height: 2em;
  color: white;
}

.footer-menu {
  display: flex;
  gap: 3em;
}

.menu-footer {
  display: flex;
  flex-direction: column;

  /* gap: 1em; */
}

.menu-footer>ul {
  margin-top: 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  color: hsl(0, 0%, 75%);
  /* justify-content: flex-start; */
  /* padding-bottom: 1em; */
  cursor: pointer;
}

.menu-footer>ul :hover{
  color: hsl(180, 66%, 49%);;
}
.social {
  display: flex;
  justify-content: flex-start;
  height: 1.5em;
  /* flex-direction: colum; */
  gap: 1em;
  cursor: pointer;

}

@media screen and (max-width: 932px) {
  .line-hr {
    width: 27em;
  }
  .searchbar{
    background-color: hsl(257, 27%, 26%);
    /* background: url("../public/images/bg-boost-mobile.svg"); */
  }
}
/* 1120 */