.addOns {
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.title p {
    font-size: 0.9em;
    color: hsl(231, 11%, 63%);
}

.cards-addon {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-addon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    border-radius: 10px;
    border: 1px solid hsl(213, 96%, 18%);
    /* justify-content: center; */
}

.mid-title {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.left-addons {
    display: flex;
    gap: 1.5em;
}

.left-addons>input {
    width: 1.4em;
    background-color: hsl(213, 96%, 18%);

}

.left-addons>input[type=checkbox] {
    /* visibility: hidden; */
    background-color: hsl(213, 96%, 18%);

}

.mid-title>h3 {
    font-size: 1em;
    color: hsla(213, 96%, 18%, 0.895);
}

.mid-title p {
    font-size: 0.8em;
    color: hsl(231, 11%, 63%);
}

.price {
    color: hsl(213, 92%, 31%);
}


@media only screen and (max-width: 768px) {
    .addOns {
        background-color: white;
        border-radius: 1em;
        padding: 2em 1em;
        position: absolute;
        top: -2em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.098),
            0 6px 20px 0 rgba(0, 0, 0, 0.018);
    }
    .card-addon{
        padding: 0.8em 1.2em;
    }
    .left-addons{
        gap: 0.7em;
    }
}