* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  position: relative;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}

.left {
  flex: 1;
  background-image: url("/public/bg-main-desktop.png");
  position: sticky;
  z-index: 0;
  top: 0;
  /* position:relative */
}

.card-layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;

}

.frontcard,
.backcard {
  border-radius: 10px;
  background-size: cover;
  color: var(--White);
  position: relative;
  width: 28rem;
  height: 15rem;
}

.frontcard {
  background-image: url(/bg-card-front.png);
  position: absolute;
  z-index: 1;
  top: 10rem;
  left: 9rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 10px; */
  margin: 0 auto 32px auto;
  color: hsl(270, 3%, 87%);
  /* margin: ; */
}

.backcard {
  background-image: url(/bg-card-back.png);
  position: absolute;
  top: 27rem;
  left: 13rem;
  border: 1px solid grey;
  border-radius: 10px;
}

.logos {
  display: flex;
  /* padding: 10px 0 0 10px; */
  margin: 5px 25px;
  flex: 1;
  gap: 1rem;
  align-content: center;
  flex-wrap: wrap;
}

.logo1 {
  width: 45px;
  height: 45px;
  background: white;
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.logo2 {
  display: flex;
  align-self: center;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid white
}

.cardnumber-f {
  flex: 1;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
  word-spacing: 5px;
}

.cardname-f {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 100;
  align-content: flex-end;
  padding: 5px;
  letter-spacing: 4px;
  margin:0 25px 25px 25px ;
	/* margin-bottom: 25px; */
}

.right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backcard{
  display: flex;
  justify-content: center;
  align-items: center;
}
.backcard span{
  right: 3.5rem;
  position: absolute;
  
}